{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "global-require": "off",
    "comma-dangle": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/no-danger": "off",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".jsx", ".js"]
      }
    ],
    "prettier/prettier": 2,
    "no-restricted-globals": ["error", "event", "fdescribe"]
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react", "import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "node": {
        "paths": ["node_modules", "src"]
      },
      "flowtype": {
        "onlyFilesWithFlowAnnotation": true
      }
    }
  }
}
